body 
{ 
 background: #d8d5d5;
 background-repeat: no-repeat;
 background-position: right center;
 background-size: cover;
 font-family: 'Rubik', sans-serif;
 margin: 0;
 
 
}

.container {
    width: 900px;
    margin: 0 auto;
    color: black;
   
     
}
.profile{
    color: #ebe6e6;
    text-align: center;
    margin-bottom: 40px;
   

}

.foto-principal 
{
    width: 90px;
    border-radius: 40%;
    margin: 30px 30px 0px 30px;
    padding: 05px;
    border:3px solid #141414;
   box-shadow: 0px 0px 10px #ffffff;
   color: #000000;
   
}
h1{
    color: #000000;
    margin-top: 2px;
    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'Comfortaa', cursive;
    font-size: 35px;
    
    
}

h2{
    color: #000000;
    margin-top: 0;
    font-style: italic;
    font-weight: 100;
    letter-spacing: -1px;
  
}

.caixa {
    background-color: rgb(22, 21, 21);
     
}
.social-links {
    text-decoration: none;
}
.social-icons {
    width: 30px;
    height: auto;
}
.linkedin {
    margin: 0 15px 0 15px;
}
.youtube {
    width: 48px;
    height: 48px;
    margin-bottom: -9px;
}
.profile{
    color: black;
}
.footer{
    color: #ffffff;
    background-color: black;
    text-align: center;
    padding: 5px;
    font-family: 'Comfortaa', cursive;
}