
::selection{
    color: pink;
    background: black;
}



p::first-line{
    color: orange;
}
p::first-letter{
    color: red;
    font-size: 50px;
}

h1::before{
    background: url(https://www.iconpacks.net/icons/2/free-rocket-icon-3432-thumb.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
    content: "";
    margin-right: 10px;
}
h1::after{
    background: url(https://www.iconpacks.net/icons/2/free-rocket-icon-3432-thumb.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
    content: "";
    margin-left: 10px;
}
 
 