 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(190, 190, 190);
    font-family: 'arial' , sans-serif;
}

.header{

    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 30px rgb(8, 8, 8);
    align-items: center;
    padding: 0 20px;
    

}

.logo{
    color: white;
    text-transform: lowercase;
    letter-spacing: -3px;
}

.menu{
    display: flex;
}

.logo span:first-child{
    color: #9f24e6;
}

.logo span:last-child{
    font-size: 20px;
    letter-spacing: normal;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 14px  ;
    
    padding: 15px;
}
.menu li a:hover {  
    background: #9f24e6;

}
.menu li:hover .submenu{
    display: block;

}
.menu li{
    position: relative;
    list-style: none;
    
}
.submenu{
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    background: blueviolet;
}