body 
{ 
 background: #858181;
 background-repeat: no-repeat;
 background-position: right center;
 background-size: cover;
 font-family: 'Oswald', sans-serif;
 margin: 0;

 
}
.container {
    width: 900px;
    margin: 0 auto;
    color: black;
    
   
     
}
.profile{
   color: black;
    text-align: center;
    margin-bottom: 40px;
    

}


 
 



 .foto-principal 
{  
    width: 90px;
    border-radius: 40%;
    margin: 30px 30px 0px 30px;
    padding: 05px;
    border:3px solid #141414;
   box-shadow: 0px 0px 10px #ffffff;
   color: black;
   
   
}
h1{
    margin-top: 2px;
    color: black;
    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'Comfortaa', cursive;
    font-size: 35px;
    
    
}



}
h2{
    color: #000000;
    margin-top: 0;
    font-style: italic;
    font-weight: 100;
    letter-spacing: -1px;
  
}
h4{
    margin-top: 0;
    margin-bottom: 0;
}
h5{
    font-size: 20px;
    margin-top: 0;
   margin-bottom: 5px;
}
h6{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 7px;
    
}
p{
    margin-top: 5px;

}

     
}
.social-links {
    text-decoration: none;
}
.social-icons {
    width: 30px;
    height: auto;
}
.linkedin {
    margin: 0 15px 0 15px;
}
.youtube {
    width: 48px;
    height: 48px;
    margin-bottom: -9px;
}
.jobs-list{
    list-style: none;
    padding-left: 20px;
}
.footer {
    background: black;
    margin-top: 30px;
    text-align: center;
    padding: 5px 0;
}